body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  color: red;
}

h2 {
  margin: 0 0 5px;
  font-size: 28;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}
.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: 10px 10px 10px rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}
.clearfix {
  overflow: auto;
}

.wallpaper-project {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/085/563/original/rainbow.png?1686707534");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 50%;
  padding: 5px;
  margin: 5px auto;
}
.city {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
}
